{% extends 'fias/list/base.html' %}
{% load static %}

{% block title %}
    Добавить
{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row align-items-start">
      <div class="col">
      </div>
      <div class="col">

        <form method="post" action = "/District/">
          {% csrf_token %}
          <h3 class="text-light">Добавление административный район</h3>
          {{ added_form }}

          <input class = "btn btn-primary" type = "submit" value = "Сохранить" >
        </form>

        
        
      </div>
      <div class="col">
      </div>
    </div>
    
</div>

{% endblock %}